<template>
  <div>
    <task />
    <div id="annotation">
      <div id="control-section">
        <button class @click="drawing = !drawing">{{drawing ? "stop" : "drawing" }}</button>
        <button @click="deleting = true">delete</button>
      </div>
      <annotations
        :delete.sync="deleting"
        :drawing="drawing"
        :inertia="inertia"
        :minSize="minSize"
        :grid="grid"
        :multipleSelect="multipleSelect"
        @draw-end="drawfinish"
        @draw-cancel="drawcancel"
        @draw="onDraw"
        @unselect="unselect"
        mouse-select="left"
      >
        <img draggable="false" src="../assets/ibiza-seats.jpg" />
        <rect class="stroke" ref="myAnnotation" slot="drawing" />
      </annotations>
      <results />
    </div>
  </div>
</template>

<script>
import Annotator from "./Annotator";
import Task from "./Task";
import Results from "./Results";
import SVG from "svg.js";

export default {
  name: "create",
  data() {
    return {
      drawing: true,
      deleting: false,
      minSize: 50,
      grid: [0, 0],
      inertia: false,
      multipleSelect: true,
      annotations: []
    };
  },
  components: {
    annotations: Annotator,
    results: Results,
    task: Task
  },

  methods: {
    drawfinish(element) {
      let cords = {
        x: element.node.attributes[4],
        y: element.node.attributes[5],
        height: element.node.attributes[6],
        width: element.node.attributes[7]
      };
      this.annotations.push(cords);
      console.log(this.annotations);
    },
    drawcancel() {
      //   this.$action("cancel drawing");
    },
    onDraw(element) {
      // console.log(element.node)
    },
    unselect(){
      console.log("test");
    }
  }
};
</script>

<style scoped>
svg {
  background: whitesmoke;
}

#annotation {
  width: 75%;
  height: 500px;
  margin: 0 auto;
  display: flex;
}

#control-section {
  display: flex;
  margin-right: 3rem;
  justify-self: flex-start;
  flex-direction: column;
}

.stroke {
  stroke: darkgreen;
  stroke-width: 3px;
}

.stroke:hover {
  stroke: lime;
  stroke-width: 3px;
}

/deep/ img {
  width: 1000px;
  max-width: none;
}
</style>
