<template>
  <div id="control-section">
    <button class @click="drawing = !drawing">{{drawing ? "stop" : "drawing" }}</button>
    <button @click="deleting = true">delete</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawing: true,
      deleting: false
    };
  }
};
</script>

<style scoped>


#control-section {
  /* border: 2px solid black; */
  display: flex;
  margin-right: 3rem;
  /* width: 15%; */
  justify-self: flex-start;
  flex-direction: column;
}
</style>