<template>
  <div id="footer">
    <div class="body-1">&copy; 2020 ODK by Gemeente Amsterdam</div>
    <ul id="menu">
      <router-link class="footer-link" to="/participation">Leaderboard</router-link>
      <router-link class="footer-link" to="/setup">Modellen bekijken</router-link>
      <!-- <a class="footer-link" href="./PrivacyPolicy.pdf" target="_blank">{{ $t("policy") }}</a> -->
    </ul>
  </div>
</template>

<script>
export default {
  name: "app-footer"
};
</script>

<style scoped>
#footer {
  width: 75%;
  max-width: 1400px;
  height: 8.375rem;
  background: var(--main-purple-color);
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-1 {
  color: var(--white-color) !important;
}

#menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-link {
  padding: 0.5rem 0;
  margin: 0 2rem 0 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer-link:last-of-type {
  margin-right: 0;
}

#menu a {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.875rem;
}

#menu a:hover {
  color: white;
}

.router-link-active {
  color: var(--white-color) !important;
  font-weight: 600 !important;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  #footer {
    width: 80%;
  }
}

@media only screen and (max-width: 1023px) {
  #footer {
    padding: 50px 0px;
    flex-direction: column;
    justify-content: center;
  }

  .body-1 {
    width: 60%;
    text-align: center;
    font-size: 0.75rem !important;
    line-height: 1.5rem !important;
    margin: 0 !important;
  }

  #menu {
    width: 80%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-link {
    width: 50%;
  }
}
</style>
