<template>
  <div id="header">
    <div id="content">
      <b-navbar class="navbar">
        <template slot="brand">
          <b-navbar-item id="logo" tag="router-link" :to="{ path: '/' }">
            <img id="logo-image" src="../assets/logo.png" />
          </b-navbar-item>
        </template>
        <template slot="end" class="menu">
          <b-navbar-item
            tag="router-link"
            :to="{ path: '/setup' }"
            class="nav-item"
            href="#"
          >leaderboard</b-navbar-item>
          <b-navbar-item
            tag="router-link"
            :to="{ path: '/participation' }"
            class="nav-item"
            href="#"
          >modellen bekijken</b-navbar-item>
        </template>
      </b-navbar>
    </div>
  </div>
</template>


<script>
export default {
  name: "app-header",
  methods: {
    // ----

    stickyHeader() {
      let header = document.getElementById("header");
      setInterval(function() {
        let scrollTop = window.scrollY;
        if (scrollTop > 400) {
          header.setAttribute("id", "sticky-header");
        } else {
          header.setAttribute("id", "header");
        }
      }, 500);
    }
  },

  // ----

  mounted() {
    this.stickyHeader();
  }
};
</script>

<style scoped>
#header {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 20;
  transition: 0.2s;
  background-image: linear-gradient(to right, #c83760, #3a225d);
}

#sticky-header {
  position: sticky;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: transparent;
  top: 0;
  z-index: 20;
  background-image: linear-gradient(to right, #c83760, #3a225d);
  transition: 0.3s;
}

#logo {
  padding-left: 0;
}

#logo-image {
  height: 60px;
  max-height: none;
}

.navbar {
  background-color: transparent;
  background-image: none;
}

#content {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
  display: block;
  position: relative;
}

/deep/ .navbar-item {
  padding: 1.5rem 0 1.5rem 0.75rem;
}

.nav-item {
  margin-right: 2rem;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: var(--white-color);
}

/deep/ .navbar-menu {
  background-color: transparent;
}

/deep/ .is-active {
  background-color: var(--main-purple-color);
}

a:hover,
a:active,
a:focus {
  color: white !important;
  background: none !important;
  opacity: 1;
}

.nav-item a :hover,
.nav-item a :focus-within,
.nav-item a :active {
  color: var(--white-color) !important;
  background: none !important;
  opacity: 1;
}

.active {
  color: var(--yellow-color) !important;
  font-weight: 700 !important;
}

.router-link-active {
  color: var(--white-color) !important;
  font-weight: 600 !important;
  opacity: 1;
}


/deep/ .navbar-burger {
  color: var(--white-color);
  height: auto;
}

/deep/ .navbar-burger:hover {
  background-color: transparent;
}

/deep/ .navbar-burger span {
  left: calc(100% - 16px);
}

@media only screen and (max-width: 1200px) {
  #content {
    width: 900px;
  }
}

@media only screen and (max-width: 1023px) {

  #content {
    width: 80%;
  }

  /deep/ .navbar-menu {
    box-shadow: none;
  }

  .navbar-item {
    padding-left: 0;
  }
}
</style>
