<template>
  <div id="results-section">
    <p id="annotation-progress">
      <span>3/25</span><br>geannoteerde beelden
    </p>
    <p id="annotation-accuracy">
      <span>40%</span><br>nauwkeurigheid
    </p>
    <span id="user-level">Level 1</span>
    <button id="submit-button">submit</button>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
#results-section {
  height: 100%;
  /* border: 2px solid purple; */
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  /* width: 10%; */
}

#annotation-progress, #annotation-accuracy, #user-level{
    padding-bottom: 2rem;
}

#submit-button{
    background: var(--yellow-color);
    position: relative;
    /* border: 2px solid blue; */
    bottom: 0 !important;
}


span {
  /* border: 2px solid blue; */
  font-weight: 700;
  font-size: 20px;
}
</style>