<template>
  <div id="task-section">
      <p>Plaats een label op de ondergrondse containers en submit het beeld om de nauwkeurigheid te verhogen!</p>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

#task-section{
    width: 30%;
    /* border: 2px solid red; */
    margin: 3rem auto;
    text-align: center;
}

</style>