<template>
  <div id="app">
    <Header/>
      <router-view></router-view>
    <!-- <Footer/> -->
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";

export default {
  name: "app",
  components: {
   Header,
   Footer,
  }
};
</script>

<style>
:root {
  --main-purple-color: #3a225d;
  --second-purple-color: #2f1c50;
  --red-color: #e1524a;
  --pink-color: #c83760;
  --yellow-color: #f6d365;
  --white-color: #ffffff;
  --second-white-color: #f9f8fa;
  --black-color: #000000;
  --dark-blue-color: #151522;
  --error-color: #c83737;
  --success-color: #37c88b;
  --grey-color: #e2dee9;
  --grey-blue-color: #9891a4;
}

body {
  margin: 0;
}

button {
  height: 49px;
  width: 62px;
  margin-bottom: 1rem;
}


</style>
